<%- include("partials/header") -%>
<body>
    <div class="headLogo">
        <img src="images/Ge.png" alt="logo" id="headImg">
        <span id="headLogoLine">Gasoline Express</span>
    </div>
   <div class="landingHead">
        <h1>Let your dreams</h1>
        <h1>ride with us.</h1>
   </div>

   <div>
    <button type="button" id="sButton" class="btn btn-lg rounded-pill"><a href="/signUp" style="text-decoration: none; color: #fff;">Sign Up Now</a></button>
   </div>

   <!-- service division -->
   <div class="service">
        <h1>Our Services For</h1>
            <div class="row" id="sRow">
                <div class="col">
                    <img src="images/bike.png" class="item" alt="bike">
                    <h2>Two Wheelers</h2>
                </div>

                <div class="col">
                    <img src="images/car.png" class="item" alt="car">
                    <h2>Four Wheelers</h2>
                </div>

                <div class="col">
                    <img src="images/truck.png" class="item" alt="truck">
                    <h2>Heavy Vehicles</h2>
                </div>
            </div>
   </div>

   <!-- driver division -->

   <div class="driver">
        <img src="images/driver.png" id="driverImg" alt="driver">
        <div class="textDriver">
            <h1>Leave your worries to</h1>
            <h1>us, so you can focus</h1>
            <h1>on your ride.</h1>
        </div>
   </div>

   <!-- about division -->

   <div class="about" id="abt">
    <img src="images/group.png" id="aboutImg" alt="group">
    <h1>About Our Company</h1>
    <h2>A team comprised of certified Mechanics and Engineeres</h2>
   </div>

   <!-- contact division -->

   <div class="contact">
        <img src="images/1137443.jpg" id="cityImg" alt="city">
        <h1>Contact us</h1>
        <div class="row">
            <div class="col">
                <h2>Address</h2>
                <h3>ABC street, Kanpur, Uttar Pradesh, India 208017</h3>
            </div>
            <div class="col">
                <h2>Email Address</h2>
                <h3>hellogasolineexpress@gmail.com</h3>
            </div>
            <div class="col">
                <h2>Phone Number</h2>
                <h3>1234567890</h3>
            </div>
        </div>
   </div>

</body>

<%- include("partials/footer") -%>